{{#if user}}
	<h1>Index</h1>
	<form method="GET" action="logout">
		<input type = "submit" value = "Log Out">
	</form>
	<ul>
		{{#each pages}}
			<li><a href = "/page/{{slug}}">{{title}}</a></li>
		{{/each}}
		<li>
			<form method="POST" action="page-add">
				New Page: <input type = "text" name = "page_title" placeholder = "Page Title"> 
				<input type = "submit" value = "Add New Page">
			</form>
		</li>
	</ul>
	
{{else}}
	<h1>Welcome to BuJo Online</h1>
	<h3>Please log in or sign up:</h3>
	<form method="GET" action="login">
		<input type = "submit" value = "Log In">
	</form>
	<form method="GET" action="signup">
		<input type = "submit" value = "Sign Up">
	</form>
{{/if}}