<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf=8'>
		<title></title>
		<style>
			.event{
				list-style-type: circle;
			}

			.note{
				list-style-type: square;
			}
		</style>
	</head>
	<body>
		{{{body}}}
	</body>
</html>